# Ignore Python cache files
*.pyc
__pycache__/

# Ignore database file
targets.db

# Ignore build artifacts
dist/
build/
*.egg-info/

# Ignore IDE-specific files
.vscode/
.idea/
*.iml

# Ignore environment-specific files
venv/
env/
